body,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  color: #ffe7c8;
  font-family: Arial, sans-serif;
  background-color: #ffe7c8;
  text-align: center;
}
.background {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffe7c8;
}

.navbar {
  background-color: #ffe7c8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.cts {
  color: #ffe7c8;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  background-color: rgb(10, 10, 102);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cloud {
  position: absolute;
  width: 200;
  height: 100;
  opacity: 0.5;
}
.cloud-1 {
  background-image: url("img/cloud1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 70px;
  top: 10%;
  left: 3%;
}
.cloud-2 {
  background-image: url("img/cloud2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 120px;
  top: 35%;
  right: 10%;
}
.cloud-3 {
  background-image: url("img/cloud3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 120px;
  bottom: 2%;
  left: 25%;
}
.brand-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(10, 10, 102);
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-links li {
  margin: 0 10px;
}

a {
  color: rgb(10, 10, 102);
}

.nav-links li a {
  font-size: 1rem;

  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
  border-radius: 10px;
  background-color: #d1cf6a;
  color: #333;
}

.menu-toggle {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #ffe7c8;
  cursor: pointer;
  display: none;
}

.main-content {
  width: 80%;
  height: 50vh;
  padding-top: 80px;
}

.main-content h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(10, 10, 102);
}

.main-content p {
  font-size: 1.2rem;
  color: rgb(10, 10, 102);
  margin: 10px 0 20px;
}

.start-btn {
  padding: 10px 30px;
  font-size: 1rem;
  color: #ffe7c8;
  background-color: rgb(10, 10, 102);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.model {
  color: #ffe7c8;
}

.start-btn:hover {
  color: #ffe7c8;
  background-color: rgb(2, 2, 66);
}

@media (max-width: 768px) {
  .menu-toggle {
    color: rgb(2, 2, 66);
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: left;
  }
  .cts {
    color: rgb(2, 2, 66);
    background-color: #ffe7c8;
  }
  .cloud-1 {
    width: 220px;
    height: 52px;
  }
  .cloud-2 {
    width: 210px;
    height: 62px;
  }
  .cloud-3 {
    width: 225px;
    height: 60px;
  }
}

@keyframes moveCloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

.cloud {
  animation: moveCloud 5s infinite alternate ease-in-out;
}
